In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
from matplotlib.pyplot import figure
import seaborn as sns
from sklearn.preprocessing import label_binarize
import sklearn
from sklearn.model_selection import train_test_split
from itertools import cycle
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier


from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import ComplementNB
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import CategoricalNB
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
import seaborn as sns

from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report
from sklearn.metrics import roc_curve, auc
from sklearn.metrics import roc_auc_score, precision_score, recall_score

In [2]:
data=pd.read_csv('ds_salaries.csv')

In [3]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [4]:
data['experience_level']=le.fit_transform(data['experience_level'])
data['employment_type']=le.fit_transform(data['employment_type'])
data['job_title']=le.fit_transform(data['job_title'])
data['salary_currency']=le.fit_transform(data['salary_currency'])
data['employee_residence']=le.fit_transform(data['employee_residence'])
data['company_location']=le.fit_transform(data['company_location'])
data['company_size']=le.fit_transform(data['company_size'])

In [7]:
Location_US= data["company_location"]=="US"
data["Location"]=Location_US
data.drop(['company_location'], axis=1)
data.drop(columns=data.columns[0],axis=1,inplace=True)
data

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size,Location
0,2020,2,2,22,70000,7,79833,14,0,12,0,False
1,2020,3,2,41,260000,16,260000,32,0,29,2,False
2,2020,3,2,7,85000,8,109024,20,50,18,1,False
3,2020,2,2,47,20000,16,20000,23,0,20,2,False
4,2020,3,2,38,150000,16,150000,55,50,48,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...
602,2022,3,2,17,154000,16,154000,55,100,48,1,False
603,2022,3,2,17,126000,16,126000,55,100,48,1,False
604,2022,3,2,12,129000,16,129000,55,0,48,1,False
605,2022,3,2,12,150000,16,150000,55,100,48,1,False
606,2022,2,2,1,200000,16,200000,27,100,48,0,False

In [18]:
X=data.drop(['Location'],axis=1)
y=data['Location']
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.3,random_state=20)

In [19]:
knn=KNeighborsClassifier(n_neighbors=7)
knn.fit(X_train,y_train)
y_pred=knn.predict(X_test)

In [20]:
from sklearn import metrics
print("accuracy:",metrics.accuracy_score(y_test, y_pred))

accuracy: 1.0

In [21]:
#confusion_matrix
from sklearn.metrics import confusion_matrix
from sklearn import metrics
print(metrics.confusion_matrix(y_test, y_pred))

[[183]]

In [22]:
#precision
from sklearn.metrics import precision_score
precision_score(y_test, y_pred)

C:\Users\Duha masoodi\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

0.0

In [16]:
#Recall
from sklearn.metrics import precision_score, recall_score
recall_score(y_test, y_pred)

C:\Users\Duha masoodi\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 due to no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

0.0

In [17]:
#f1_score
from sklearn.metrics import f1_score
f1_score(y_test, y_pred)

C:\Users\Duha masoodi\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1580: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no true nor predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, "true nor predicted", "F-score is", len(true_sum))

0.0